/*---------------- Header -----------------
------------------------------------------*/



img.custom-logo {
    box-shadow: none;
}

.headgrad {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+16,eff1f9+37,7c78ce+100&1+55,0.83+81,0+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 16%, rgba(239,241,249,1) 37%, rgba(206,206,237,1) 55%, rgba(159,156,219,0.83) 81%, rgba(124,120,206,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 16%,rgba(239,241,249,1) 37%,rgba(206,206,237,1) 55%,rgba(159,156,219,0.83) 81%,rgba(124,120,206,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 16%,rgba(239,241,249,1) 37%,rgba(206,206,237,1) 55%,rgba(159,156,219,0.83) 81%,rgba(124,120,206,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007c78ce',GradientType=0 ); /* IE6-9 */

}

.headgrad0 {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+16,eff1f9+54,7c78ce+91,6e2be9+97,6e2be9+100&1+40,0.83+76,0+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 16%, rgba(245,246,251,1) 40%, rgba(239,241,249,0.93) 54%, rgba(171,169,223,0.83) 76%, rgba(124,120,206,0.31) 91%, rgba(110,43,233,0.1) 97%, rgba(110,43,233,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 16%,rgba(245,246,251,1) 40%,rgba(239,241,249,0.93) 54%,rgba(171,169,223,0.83) 76%,rgba(124,120,206,0.31) 91%,rgba(110,43,233,0.1) 97%,rgba(110,43,233,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 16%,rgba(245,246,251,1) 40%,rgba(239,241,249,0.93) 54%,rgba(171,169,223,0.83) 76%,rgba(124,120,206,0.31) 91%,rgba(110,43,233,0.1) 97%,rgba(110,43,233,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#006e2be9',GradientType=0 ); /* IE6-9 */

}

.site-title  {
    font-family: $sitetitlefont;
    font-size: $titlesize;
    text-transform: uppercase;
    text-align: center;
     text-shadow: -1px 0 1px #000, 1px 0 1px #000, 0 -1px 1px #000, 0 1px 1px #000, 0 0 15px #000;
   }

.site-title a, h1.site-title a {
    color: $site-titlecolor;
    letter-spacing: 0.1em;
    &:hover{
        color: $site-titlecolor;
    }
}

.site-description {
    text-align: center;
    color: $description-color;
    margin: -40px 0px 0px;
    text-transform: uppercase;
    text-shadow: $contur-txt-dark;
    letter-spacing: 1px;
}

.site-branding {
    display: flex;
    flex-direction:column;
    align-content: center;
    align-items: center;
    justify-content:space-around;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: rgba(45, 68, 195, 0.21);
}

.site-header {
    margin-top: 52px;
}

/*-----------------------------------------
LOGO
------------------------------------------*/

.custom-logo {
    margin: 10px;

}
